html {
    display: flex;
    justify-content: center;
    background-color: black;

}

body {
    display:flex;
    flex-direction: column;
     font-family: Roboto, sans-serif;
    width: 100vh;

}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    text-decoration: none;
    border-color: #F9FAF8;
    border: none;
    padding: 3px 14px;
    margin-top: 3px;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 70px;
    font-size: 24px;

    background-color: #1F2937;
    color: #F9FAF8;
}

.headertext{
    display:flex;
    flex-grow: 1;
}

.headerlinks{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}

.row1 {

    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;

    justify-content: center;
    align-content: center;

    padding: 70px;


    
}

.row1card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #1F2937;

}

.row1mainherotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.row1image {
    display: flex;
    flex-basis: 100%;
    background-color: #676e77;
}

.row2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    padding: 70px;
    background-color: #F9FAF8;
}

.row2header {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding-bottom: 35px;

}

.row2container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.cards {

    display:flex;
    flex-direction: column;
    margin: 10px;
}

.card {
    display: flex;
    justify-content: center;
    border: solid 2px #3882F6;
    width: 135px;
    border-radius: 8px;
    

}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 135px;
    text-align: center;
    
}

.row3 {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 175px;
    flex-direction: column;
    background-color: #E5E7EB;
    
    
}

.row3text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    
 
}

.row3quote {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  
    

}

.row4 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.row4header {
    font-weight: bold;
}

.bluemain {
    display: flex;
    border: solid 1px #3882F6;
    background-color: #3882F6;
    margin: 40px;
    border-radius: 5px;
    padding: 35px;
    color: #F9FAF8;
}

.row4container {
    display: flex;
}

.calltoaction {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
   
}

.row4button {
    display: flex;
                
    
}

#button1{
   border: 1px solid #F9FAF8;
   border-radius: 5px; 
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1F2937;
    color: #F9FAF8;

}